.form-panels{
    max-width: 615px;
    margin: 0 auto;
    padding: 40px 0;
}

.form-panel{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    .title{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: left;
    }
    .row{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        .row-input{
            flex: 1;
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
            &.twoFlex{
                flex: none;
                width: 380px;
            }
            .cols{
                display: flex;
            }
        }
    }
    .input-title{
        font-size: 14px;
        font-weight: 600;
        color: #0d0f26;
        margin: 0px 0px 10px 0px;
        text-align: left;
        &.star:after{
            content: ' *';
            color: #ed1c24;
        }
    }
}

.row-input.alone-input{
    margin-bottom: 20px;
}

.alone-input .choiceValue.inner{
    padding-left: 0;
    &:last-child{
        margin-bottom: 0;
    }
}

.row .row-input .wrapper{
    padding: 20px;
    border: 1px solid #d4d4d4; 
}

.firmOrPrivate{
    .mySelect{
        .header, .choices{
            max-width: 50%;
        }
        .choices{
            top: 25px;
            &.open{
                max-height: 240px;
                overflow: hidden;
            }
        }
    }
}

.period{
    .mySelect{
        .header, .choices{
            max-width: 50%;
        }
    }
} 

.row-input.login-btn, .row-input.add-btn-row{
    display: flex;
    align-self: flex-end;
    button{
        padding: 8px 20px;
        background-color: #004b90;
        font-size: 14px;
        font-weight: bolder;
        color: #ffffff;
        text-transform: uppercase;
        outline: none;
        border: 1px solid white; 
        cursor: pointer;
        transition-duration: 0.4s;
        // border-radius: 3px;
        &:hover{
            background-color: #2f6eb6 ;
        }
    }
}

.row-input.add-btn-row{
    justify-content: space-between;
    align-items: center;
    button{
        height: 3.6em;
        line-height: 3.6;
        padding: 0px 30px 0px 30px;
        background-color: #ea7225;
        &:hover{
            background-color: #fb853a;
        }
        &[disabled]{
            display: none;
        }
    }
}

.req{
    color: #ed1c24;
}

